/* This is the default css file for the admin theme */

/* DON'T Change these first 2 styles they are important! */

/*I need this to fix a little issue with buttons for the other dispalys in views */
.views-display-top ul.secondary {
    background-color: transparent;
    float: left;
}

/* This hides a warning message on the user page if they want to save a note to themselves, it can safely be ignored and they don't need to see it */

.page-user-edit .messages.error{
    display:none;
}


/*
****************************
** add styles below here
****************************
*/

/* make sure svg's aren't huge whend displayed in the admin theme areas. */

img[src$=".svg"]{
    max-width: 100px;
    background-color: #f3f4ee;
}


/**  Styles for exhibition form **/

.page-node-edit.node-type-exhibition label[for="edit-field-exhibition-status-und"],
.page-node-edit.node-type-exhibition #edit-field-exhibition-status-und,
.page-node-edit.node-type-exhibition  #edit-field-exhibition-status-und .form-type-radio,
.page-node-add-exhibition label[for="edit-field-exhibition-status-und"],
.page-node-add-exhibition #edit-field-exhibition-status-und,
.page-node-add-exhibition #edit-field-exhibition-status-und .form-type-radio{
    display: inline-block;
    padding-right: 20px;
}

.page-node-edit.node-type-exhibition .start-date-wrapper,
.page-node-edit.node-type-exhibition .end-date-wrapper,
.page-node-add-exhibition .start-date-wrapper,
.page-node-add-exhibition .end-date-wrapper{
    display:inline-block;
    width: 35%;
    vertical-align:bottom;
}


/**  Styles for announcement form **/

.page-node-edit.node-type-announcement label[for="edit-field-status-und"],
.page-node-edit.node-type-announcement #edit-field-status-und,
.page-node-edit.node-type-announcement #edit-field-status-und .form-type-radio,
.page-node-add-announcement label[for="edit-field-status-und"],
.page-node-add-announcement #edit-field-status-und,
.page-node-add-announcement #edit-field-status-und .form-type-radio{
    display: inline-block;
    padding-right: 20px;
}

.page-node-edit.node-type-announcement .start-date-wrapper,
.page-node-edit.node-type-announcement .end-date-wrapper,
.page-node-add-announcement .start-date-wrapper,
.page-node-add-announcement .end-date-wrapper{
    display:inline-block;
    width: 35%;
    vertical-align:bottom;
}