.front-exhibition-slider {
    margin-bottom: 80px;
}
.front-exhibition-slider .view-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.front-exhibition-slider .exhibition-galleries-slider-title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: #502d0e;
    letter-spacing: 2px;
}

.front-exhibition-slider .all-galleries-button a {
    align-self: baseline;
    display: block;
    padding: 10px 30px;
    transform: translateY(10px);
    min-width: 160px;
    border: 1px solid var(--accent);
    color: var(--accent);
    text-transform: uppercase;
    font-weight: 600;
    font-size: calc(10px + 0.3vw);
    cursor: pointer;
}

.all-galleries-button a:hover {
    background: var(--accent);
    color: white;
}

.front-exhibition-slider .exhibition-galleries-slider-title .subtitle {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--accent);

}
.front-exhibition-slider .slick--skin--boxed-carousel .slide__content:hover {
    box-shadow: none;
    border: none;
}
.front-exhibition-slider .slick--skin--boxed-carousel .slide__content {
    border-radius: 0;
    border: none;
}

.front-exhibition-slider .views-field.views-field-nid a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 5;
    background: none;
}

.front-exhibition-slider .slick-slide .views-field-field-primary-image img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    cursor: pointer;
    filter: brightness(0.6) contrast(0.7);
    transition: 0.4s;
}

.front-exhibition-slider * {
    cursor: default;
}
.front-exhibition-slider .slick-slide:hover {
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.65);
    overflow: visible;
}
.front-exhibition-slider .slick-slide {
    margin: 10px;
    transition: 0.2s;
}
.front-exhibition-slider .slick--skin--boxed > .slick__slider > .slick-list {
    margin: 0 0 0 -10px;
    padding:0 16% 0 0;
}
.front-exhibition-slider .slick--skin--boxed-carousel .slide__content {
    margin: 0;
}
.front-exhibition-slider .slick-arrow {
    border: 0;
    border-radius: 0;
    display: block;
    font-size: 0;
    width: 30px;
    height: 100px;
    pointer-events: auto;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: rgba(255, 255, 255, .8);
    cursor: pointer;
}

.front-exhibition-slider .nav.slick__arrow {
    top: 55%;
}

.front-exhibition-slider .slick-arrow::before {
    font-size: 66px;
    top: 47%;
}
.front-exhibition-slider .slick-prev {
    left: -18px;
    box-shadow: 3px 4px 10px -2px rgba(0, 0, 0, 0.65);
}
.front-exhibition-slider .slick-next {
    right: -18px;
    box-shadow: -3px 4px 10px -2px rgba(0, 0, 0, 0.65);
}

.exhibition-galleries-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10%;
    color: white;
    font-size: 12px;
    transition: all .3s, background .5s;
    z-index: 1;
}

.exhibition-galleries-info .views-field-field-link {
    height: calc(45% + 1vw);
    font-weight: 200;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.exhibition-galleries-info .views-field-field-link .field-content {
    display: flex;
    align-items: center;
}

.exhibition-galleries-info .views-field-field-link img {
    width: 20px;
    margin-right: 10px;
    margin-left: 0;
}


.exhibition-galleries-info .views-field-title a {
     background-image: none;
     font-weight: 600;
     color:white;
}

.exhibition-galleries-info .views-field-title h3 {
    line-height: 1.2em;
}

.exhibition-line {
    width: 30px;
    height: 2px;
    background: white;
    margin-bottom: 10px;
}

.exhibition-galleries-info .views-field-field-exhibition-dates {
    font-size: 15px;
}

/*Fancy hovers*/
.front-exhibition-slider .slide:hover .exhibition-galleries-info:after,
.front-exhibition-slider .slide:hover .exhibition-galleries-info:before {
    width: 90%;
    height: 90%;
    border-color: #72be44;
    transition: all .25s, border-color .1s;
    transition-delay: .2s;
}

.front-exhibition-slider .slide:hover .views-field-field-primary-image img {
    filter: brightness(0.2) contrast(0.7);

}


.exhibition-galleries-info:before {
    content:'';
    transition-delay: .2s;
    box-sizing: border-box;
    position:absolute;
    top:0;
    right:0;
    height: 0;
    width:0;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    box-sizing: border-box;
    transition: all .25s, border-color .5s;
    margin: 17.5px 5%;
}
.exhibition-galleries-info:after {
    content:'';
    transition-delay: .2s;
    box-sizing: border-box;
    position:absolute;
    left:0;
    bottom:0;
    width: 0;
    height: 0;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    transition: all .25s, border-color .5s;
    margin: 17.5px 5%;
}