.node-type-profile .node-content {
    display: flex;
    flex-wrap: wrap;
}
.node-type-profile .field-name-field-image img {
    max-width: 300px;
    margin-right: 20px;
}
.node-type-profile .field-name-field-image {
    flex: 0 0 250px;
}
.node-type-profile .field-name-body {
    flex: 1 0 100%;
}
.node-type-profile #profile-info {
    flex: 1 0 40%;
}
.node-type-profile #profile-info .field-name-field-position .field-item {
    font-size: 28px;
    font-weight: 600;
}
.node-type-profile #profile-info .field-item {
    margin-bottom: 30px;
    font-size: 16px;
}
.node-type-profile .int-side-menu {
    margin-top: calc(6vw + 56px);
}